<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TpCrudAsp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TpCrudAsp.styles.css" asp-append-version="true" />
</head>
@*<style>
    footer {
        height: 100vh;
    }
</style>*@
<body>
    <header>
        <div class="container ">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid navegacion todoautos " style="height: 10vh;">
                    <a class="navbar-brand d-none mb-0 d-lg-inline-block text-white" style="font-size:50px;" asp-area="" asp-controller="Home" asp-action="Index"><strong>Todo Autos</strong></a>
                    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav ms-auto flex-nowrap">
                            <li class="nav-item">
                                <a class="nav-link text-white linkNav" asp-area="" asp-controller="Crud" asp-action="Listar">Automoviles</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white linkNav" asp-area="" asp-controller="Crud" asp-action="Contacto">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted" style="height:8vh; background-color:darkblue; text-align:center;">
        <div class="container" style="color: azure;margin-bottom:10px;">
            &copy; 2022 - <strong>Todo Autos  - </strong>
            <a asp-area="Contacto" asp-controller="Crud" asp-action="Contacto" style="color:azure;"><strong>Contacto</strong></a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
